.ui-datepicker-wrapper {
  display: none;
  width: 240px;
  font-size: 16px;
  color: #666;
  box-shadow: 2px 2px 8px 2px rgba(128, 128, 128, 0.2);
  position: absolute;
}
.ui-datepicker-wrapper.ui-datepicker-show {
  display: block;
}
.ui-datepicker-wrapper .ui-datepicker-header {
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #f0f0f0;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}
.ui-datepicker-wrapper .ui-datepicker-header .ui-datepicker-btn {
  width: 20px;
  font-size: 20px;
  color: #1abc9c;
  text-decoration: none;
  cursor: pointer;
}
.ui-datepicker-wrapper .ui-datepicker-header .ui-datepicker-prev-btn {
  float: left;
}
.ui-datepicker-wrapper .ui-datepicker-header .ui-datepicker-next-btn {
  float: right;
}
.ui-datepicker-wrapper .ui-datepicker-body table {
  width: 100%;
  border-collapse: collapse;
}
.ui-datepicker-wrapper .ui-datepicker-body tr {
  display: flex;
}
.ui-datepicker-wrapper .ui-datepicker-body tr th,
.ui-datepicker-wrapper .ui-datepicker-body tr td {
  flex: 1;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.ui-datepicker-wrapper .ui-datepicker-body tr th {
  height: 40px;
  line-height: 40px;
  font-size: 12px;
}
.ui-datepicker-wrapper .ui-datepicker-body tr td {
  border: 1px solid #f0f0f0;
  font-size: 10px;
  background-color: #fff;
}
